.Light {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-top: 100px;
}

.Light.on {
  background-image: radial-gradient(hsl(0, 70%, 60%), hsl(0, 70%, 50%));
  box-shadow: 0 0 100px hsl(0, 80%, 50%);
  border: none;
}

.Light.off {
  background-color: hsl(0, 0%, 90%);
  background-image: radial-gradient(hsl(0, 0%, 90%), hsl(0, 0%, 80%));
  box-shadow: 0 2px 2px hsl(0, 0%, 70%);
}
